$unikko-background: #f9f3ea;
$unikko-text: #403433;
$unikko-text-hover: #6d6b6b;

// Overrides
$primary: $unikko-text;
$secondary: $unikko-text;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1260px
) !default;